In [34]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
mail_dataset=pd.read_csv("mail_data.csv")

In [3]:
mail_dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
mail_dataset.isna().sum()

Category    0
Message     0
dtype: int64

In [10]:
mail_dataset.loc[mail_dataset['Category']=='ham','Category',]=1
mail_dataset.loc[mail_dataset['Category'] == 'spam', 'Category',] = 0

In [11]:
mail_dataset.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [12]:
x=mail_dataset['Message']
y=mail_dataset['Category']

In [29]:
vectorizer=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
vectorizer.fit(x)
X=vectorizer.transform(x)

(5572,)

In [22]:
print(X)

  (0, 8281)	0.23740715800944148
  (0, 8079)	0.1961033223643189
  (0, 5775)	0.27451666535585145
  (0, 4370)	0.29650492406235857
  (0, 4244)	0.35097479377088364
  (0, 3551)	0.19387866945820545
  (0, 3511)	0.16453831818791093
  (0, 2278)	0.27180581777101714
  (0, 2003)	0.29650492406235857
  (0, 1715)	0.29650492406235857
  (0, 1713)	0.3350433781715565
  (0, 1281)	0.26251769953088055
  (0, 1061)	0.35097479377088364
  (1, 8187)	0.43162957585464123
  (1, 5399)	0.5466243141314314
  (1, 5373)	0.2718944069420321
  (1, 4406)	0.4083258549263009
  (1, 4212)	0.5236804332035243
  (2, 8239)	0.19287984407221886
  (2, 8199)	0.1495331549185277
  (2, 7750)	0.12585247610650566
  (2, 7565)	0.22351170844117557
  (2, 7433)	0.124380339961756
  (2, 7073)	0.19910160498748308
  (2, 6154)	0.16925521015250053
  :	:
  (5567, 2009)	0.18662411374983584
  (5567, 1701)	0.2276693877664076
  (5567, 707)	0.2498172309216542
  (5567, 464)	0.23453927693676727
  (5567, 307)	0.24294734175129454
  (5567, 165)	0.33657880027391784
  (5568, 3809)	0.3652059777476414
  (5568, 3480)	0.3642369776828009
  (5568, 3263)	0.5597098620657655
  (5568, 2917)	0.6485991737677518
  (5569, 7213)	0.6095307789831879
  (5569, 5707)	0.6095307789831879
  (5569, 5018)	0.5068968918274174
  (5570, 8125)	0.23564264513684635
  (5570, 4508)	0.19998200231369734
  (5570, 4063)	0.35475111861632075
  (5570, 3605)	0.30408849117263737
  (5570, 3388)	0.3451679596114425
  (5570, 3276)	0.19998200231369734
  (5570, 2542)	0.23105123281877282
  (5570, 1749)	0.35475111861632075
  (5570, 1511)	0.42657930865550353
  (5570, 908)	0.40721605986134385
  (5571, 7705)	0.6048659564126764
  (5571, 6362)	0.7963273037972378

In [42]:
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=1)
y_train

710     0
3740    1
2711    0
3155    0
3748    1
       ..
905     1
5192    1
3980    1
235     0
5157    1
Name: Category, Length: 4179, dtype: object

In [48]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [49]:
model=LogisticRegression()

In [50]:
model.fit(x_train,y_train)

LogisticRegression()

In [51]:
y_train_pred=model.predict(x_train)

In [52]:
y_test_pred=model.predict(x_test)

In [55]:
train_score=metrics.accuracy_score(y_train,y_train_pred)
train_score

0.9662598707824839

In [57]:
test_score=metrics.accuracy_score(y_test,y_test_pred)
test_score

0.9597989949748744